@model UserViewModel

@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager

@{
	AppUser user = Model.CurrentUser;
	string rowId;

	if(!Model.UseListMode)
	{
		rowId = $" id=\"details_row\" name={user.Id}";
		<style>
			#details_row .detailsCol:hover {
				background-color: moccasin;
				cursor: pointer;
			}

			.removeEntitybtn:hover {
				background-color: orangered;
				cursor: pointer;
			}
		</style>
	}
}

@if(!Model.UseListMode)
{
	<div class="row" id="details_columns">
		@for(int i = 0 ; i < Model.ColumnNames.Count ; i++)
		{
			<div class="col">
				<span>@Model.ColumnNames[i]</span>
				<span class="detailsCol" id="Model.ColumnNames[i]">
					@Model.ColumnValues[i]
				</span>
			</div>
		}
		<div class="col">
			<span>Remove</span>
			<span class="col removeEntitybtn" name="delete_row">Remove</span>
		</div>
	</div>
}
else {
<div  id="@user.Id" class="row itemRow">

	@for(int i = 0 ; i < Model.ColumnNames.Count ; i++)
	{
		<div class="col @Model.ColumnNames[i]" >
			@Model.ColumnValues[i]
		</div>
	}

	<div class="col removeEntitybtn" >Remove</div>
</div>
}