@*
		@model UserViewModel
	@{
		AppUser user = Model.CurrentUser;

	}

	<div id="@user.Id" class="row itemRow">

		@for(int i = 0 ; i < Model.ColumnNames.Count ; i++)
		{
			<div class="col @Model.ColumnNames[i]">
				@Model.ColumnValues[i]
			</div>
		}

		<div class="col removeEntitybtn">Remove</div>
	</div>
*@

@model UserViewModel

@using Microsoft.AspNetCore.Identity

@*@inject UserManager<AppUser> UserManager*@

@{
	AppUser user = Model.CurrentUser;

	if(!Model.UseListMode)
	{
		<style>
			#details_row .col {
				border: solid;
				border-width: 2px;
			}

			#details_row .detailsCol:hover {
				background-color: moccasin;
			}
		</style>
	}
}

@if(Model.UseListMode)
{
	<div id="@user.Id" class="row itemRow">

		@for(int i = 0 ; i < Model.ColumnNames.Count ; i++)
		{
			<div class="col @Model.ColumnNames[i]">
				@Model.ColumnValues[i]
			</div>
		}

		<div class="col removeEntitybtn">Remove</div>
	</div>
}
else
{
	<div class="row" id="details_row" name="@user.Id">
		@for(int i = 0 ; i < Model.ColumnNames.Count ; i++)
		{
			<div class="col">
				<span>@Model.ColumnNames[i]</span><br />
				<span class="detailsCol">@Model.ColumnValues[i]</span>
			</div>
		}
		<div class="col">
			<span>Roles</span><br />
			<span class="detailsCol">@Model.CurrentUser.</span>
		</div>
	</div>
}