@model Country

@{
	if(ViewBag.details != null)
		ViewData["Rowidentifiers"] = $" id=\"details_row\" name={@Model.Id}";
	else
		ViewData["Rowidentifiers"] = $" id={@Model.Id}";
}

<div @ViewData["Rowidentifiers"] class="row itemRow">
	<div class="col @Html.NameFor(model => model.Id)">
		@Model.Id
	</div>
	<div class="col @Html.NameFor(model => model.Name)">
		@Model.Name
	</div>
	<div class="col @Html.NameFor(model => model.Cities)">
		@Model.StringifyValues[2]
	</div>

	<div class="col removeEntitybtn" name="delete_row">Remove</div>
</div>
