@model PeopleModel

@{
	ViewData["Title"] = "People List";
	_ = Model.GetPerson;
}

<div id="peopleList" class="container">
	<div class="row" id="columnNames">
		@for(int i = 0 ; i < Person.StringifyNames.Length ; i++)
		{
			<div class="col @Person.StringifyNames[i]">
				@Person.StringifyDisplayNames[i]
			</div>
		}
		<div class="col"></div>
	</div>
	@while(!Model.ListEnd)
	{
		<partial name="_person" model="Model.GetPerson" />
	}
</div>

@*<table id="peopleData">
	<thead>
		<tr>
			@foreach(string postName in Model.postNames)
			{
				<th>@postName</th>
			}
			<th>X</th>
		</tr>
	</thead>

	@for(int i = 0 ; i < Model.PeopleData.Count ; i++)
	{
		string[] row = Model.PeopleData[i];

		<tr id="peopleData_row @i">
			@foreach(string post in row)
			{
				<td>@post</td>
			}
			<td><button name="delete_row">Remove</button></td>
		</tr>
	}
</table>*@
