@model PeopleModel

@{
	ViewData["Title"] = "People List";
	var postNames = Model.postNames;
	_ = Model.GetPerson;
}

<div id="peopleList" class="container">
	<div class="row" id="columnNames">
		<div class="col personId">
			Person ID
		</div>
		@for(int i = 0 ; i < postNames.Length ; i++)
		{
		<div class="col @postNames[i]">
			@postNames[i]
		</div>
		}
	</div>
	@while(!Model.ListEnd)
	{
		<partial name="_person" model="Model" />
	}
</div>

@*<table id="peopleData">
	<thead>
		<tr>
			@foreach(string postName in Model.postNames)
			{
				<th>@postName</th>
			}
			<th>X</th>
		</tr>
	</thead>

	@for(int i = 0 ; i < Model.PeopleData.Count ; i++)
	{
		string[] row = Model.PeopleData[i];

		<tr id="peopleData_row @i">
			@foreach(string post in row)
			{
				<td>@post</td>
			}
			<td><button name="delete_row">Remove</button></td>
		</tr>
	}
</table>*@
