@model Person

@{
	ViewData["Title"] = "";
}

<div id="@Model.Id" class="row">
	<div class="col @Html.NameFor(model => model.Id)">
		@Model.Id
	</div>
	<div class="col @Html.NameFor(model => model.Name)">
		@Model.Name
	</div>
	<div class="col @Html.NameFor(model => model.Phonenumber)">
		@Model.Phonenumber
	</div>
	<div class="col @Html.NameFor(model => model.Name)">
		@Model.Name
	</div>

	<div class="col"><button name="delete_row">Remove</button></div>
</div>
